# tool folders
.idea/
.vscode
.mypy_cache
.pytest_cache
.swp
# datasets
*.xlsx
*.csv
*.xlsm
*.xls
*.gsheet

# Config Files from Visual Studio Code
*.vscode

# text files
*.json
*.log
*.pkl
monitor.py

# python binaries
*.pyo
*.pyc
*~

# Jupyter Notebook
*checkpoint.ipynb
*checkpoint.py
*.ipynb
*.ipynb_checkpoints
# Environments 
.env 
.venv 
env/


