[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pandas = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
ipykernel = "*"

[packages]
selenium = "*"
beautifulsoup4 = "*"
lxml = "*"
xlrd = "*"
tqdm = "*"

[requires]
python_version = "3.7"
